/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */
* {
	box-sizing: border-box;
}

body {
	background: black;
	font-size: 25px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #de9527;

	h1, h2{
		color: white;
	}
}

.clearfix {
	clear: both;
}

// /* 2. Content ================================= */

h1.headline{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin: 15px;	
}

section.time,
section.memory,
section.live, {

	h2 {
		.number {
			font-size: 50px;
			font-weight: bold;
		}

		.text {
			font-size: 20px;
		}
	}
	
	p {
		font-size: 15px;
	}
}

section.consume,
section.nap, {
	h2 {
		.number {
			font-size: 50px;
			font-weight: bold;
		}

		.text {
			font-size: 20px;
		}
	}
	
	p {
		font-size: 15px;

	}
}

.text-container-left-align {
	width:50%;
	float:left;
}

.image-container-right-align {
		width:50%;
		float:right;

}


section.consume {
	.text-container-right-align {
		width:50%;
		float:right;
	}
	
	.image-container-left-align {
		width:50%;
		float:left;
	}
}

section.memory {
	.text-container-left-align {
		width:50%;
		float:left;
	}

	.image-container-right-align {
		width:50%;
		float:right;
	}
}



section.nap {
	.text-container-right-align {
		width:50%;
		float:right;
	}

	.image-container-left-align {
		width:50%;
		float:left;
	}
}



section.live {
	.text-container-left-align {
		width:50%;
	}

	.image-container-right-align {
		width:50%;
	}
}





footer p{
	font-size: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	float: left;
	padding: 5px 10px;
	margin-left: 80px;
	color: white;
}

footer span{
	font-size: 10px;
	color: #de9527
}

