/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */
* {
	box-sizing: border-box;
}

body {
	background: black;
	font-size: 25px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #de9527;

	h1, h2{
		color: white;
	}
}

.clearfix {
	clear: both;
}

// /* 2. Content ================================= */

// layout styles

h1.headline{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin: 15px;	
}

section.time,
section.memory,
section.live {
	h2 {
		.number {
			font-size: 50px;
			font-weight: bold;
		}
		.text {
			font-size: 20px;
		}
	}

	p {
		font-size: 15px;
	}
}

section.consume,
section.nap {
	h2 {
		.number {
			font-size: 50px;
			font-weight: bold;
		}

		.text {
			font-size: 20px;
		}
	}
	
	p {
		font-size: 15px;
	}
}

// section styles

section.time{
	.text-container-left-align {
		width:50%;
		float:left;
	}

	.image-container-right-align {
		.sleeper{
			position: relative;
			width:40%;
			float:left;
		}
		.alarm-clock{
			position: relative;
			bottom: 5px;
			left: 70px;
		}
		.bolt{
			position:relative;
			margin: 10px 0;
		}
		.bolt-1{
			position:relative;
		}
		.bolt-2{
			position:relative;
		}
		.bolt-3{
			position:relative;
		}
		.bolt-4{
			position:relative;	
		}
		.bolt-5{
			position:relative;	
		}
	}
}

// inline display

section.consume {
	.text-container-right-align {
		width:50%;
		float:left;
		text-align: right;
	}

	.image-container-left-align {
		.hands{
			position:relative;
			float:left;
			width:15%;
		}
		.hands-bolt{
			position:relative;
			float:left;
		}
		.hands-bolt-1{
			position:relative;
			float:left;
		}
		.hands-bolt-2{
			position:relative;
			float:left;
		}
		.robot{
			position:relative;
			float:left;
			width:15%;
		}
		.robot-bolt-1{
			position:relative;
			float:left;
		}
		.robot-bolt-2{
			position:relative;
			float:left;
		}
	}
}

section.memory {
	.text-container-left-align {
		width:50%;
		float:left;
	}

	.image-container-right-align {
		.brain{
			position:relative;
			float:left;
			width:20%;
			top: 20px;
		}

		.books-barbell{
			position:relative;
			float:left;
			width:30%;
			right:135px;
			top: 10px;
		}
		.highlight{
			position:relative;
			float:left;
		}
	}
}

section.nap {
	.text-container-right-align {
		width:50%;
		float:left;
		text-align: right;
	}

	.image-container-left-align {
		.boss{
			position:relative;
			float:left;
			width:15%;
			left: 10px;
		}
		.sleeping-person{
			position:relative;
			float:left;
			width:30%;
			top: 30px;
			left: 20px;
		}
		.clock{
			position:relative;
			float:left;
			width:5%;
			right: 55px;
			top: 25px;
		}

		.thought-bubble{
			position:relative;
			float:left;
			right: 230px;
			bottom: 15px;
		}

		.big-z{
			position:relative;
			float:left;
		}

		.small-z{
			position:relative;
			float:left;
		}
	}
}


section.live {
	.text-container-left-align {
		width:50%;
		float:left;
	}

	.image-container-right-align {
		.pill{
			position:relative;
			float:left;
			width:10%;
		}
		.pill-2{
			position:relative;
			float:left;
			width:10%;
		}
		.pencil{
			position:relative;
			float:left;
			width:10%;
		}
		.clipboard{
			position:relative;
			float:left;
			width:10%;
		}
		.first-aid-kit{
			position:relative;
			float:left;
			width:10%;
		}
	}
}

// footer styles

footer p{
	font-size: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	float: left;
	padding: 5px 10px;
	margin-left: 80px;
	color: white;
}

footer span{
	font-size: 10px;
	color: #de9527
}